<div class="min-h-screen flex flex-col items-center justify-center bg-gradient-to-r from-teal-400 to-green-500">
  <h2 class="text-white text-3xl font-bold mb-8 animate__animated animate__fadeIn">Incidents</h2>

  <!-- Show loading indicator when loadingSignal is true -->
  <ng-container *ngIf="loadingSignal(); else incidentsList">
    <p>Loading incidents...</p>
  </ng-container>

  <!-- Display incidents once loading is complete -->
  <ng-template #incidentsList>
    <ul class="space-y-4">
      <li *ngFor="let incident of incidentsSignal()">
        <a
          [routerLink]="['/incidents', incident.id]"
          class="text-xl font-semibold text-gray-100 hover:text-gray-900 bg-white hover:bg-teal-400 p-4 rounded-lg shadow-lg transform hover:scale-105 transition-all duration-300 ease-in-out animate__animated animate__fadeIn animate__delay-1s">
          {{ incident.title }}
        </a>
      </li>
    </ul>
  </ng-template>
</div>
